@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&family=Nunito:wght@600&display=swap');
body{
    font-family: 'BioRhyme', serif;
}
html{scroll-behavior:smooth;}
.headder{
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: auto;
}

.headder nav a{
    padding: 5px;
}

.headder nav a:hover{
    background-color: black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.abs{
    position: absolute;
    width: 100%;
}

.containerr{
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.containerr .sectionn{
    position: relative;
    width: 100%;
    height: auto;
    background-blend-mode:multiply;
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerr .sectionn:nth-child(1){
    background: rgb(194, 197, 7) url("../images/protruding-squares.svg");
    background-attachment: fixed;
}

.containerr .sectionn:nth-child(2){
    background: rgb(46, 241, 166) url("../images/dalmatian-spots.svg");
    background-attachment: fixed;
}

.containerr .sectionn:nth-child(3){
    background: rgb(71, 49, 49) url("../images/flat-mountains.svg");
    background-attachment: fixed;
    text: white;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
 .social-container {
	 text-align: center;
}
 .social-icons {
	 padding: 0;
	 list-style: none;
	 margin: 1em;
}
 .social-icons li {
	 display: inline-block;
	 margin: 0.15em;
	 position: relative;
	 font-size: 1.2em;
}
 .social-icons i {
	 color: #fff;
	 position: absolute;
	 top: 21px;
	 left: 21px;
	 transition: all 265ms ease-out;
}
 .social-icons a {
	 display: inline-block;
}
 .social-icons a:before {
	 transform: scale(1);
	 -ms-transform: scale(1);
	 -webkit-transform: scale(1);
	 content: " ";
	 width: 60px;
	 height: 60px;
	 border-radius: 100%;
	 display: block;
	 background: linear-gradient(45deg, #e05555, #ff0000);
	 transition: all 265ms ease-out;
}
 .social-icons a:hover:before {
	 transform: scale(0);
	 transition: all 265ms ease-in;
}
 .social-icons a:hover i {
	 transform: scale(2.2);
	 -ms-transform: scale(2.2);
	 -webkit-transform: scale(2.2);
	 color: #fd5959;
	 background: -webkit-linear-gradient(45deg, #ff0000, #ffffff);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 transition: all 265ms ease-in;
}
 
.img {
    margin: 0px;
    padding: 0px;
}
.gallery {
    position: relative;
    height: auto;
    width: auto;
}

.gallerybottom {
    padding: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: #ff0000;
    color: #ffffff;
}